@import '../../styles/_variables.scss';

$transition-function: cubic-bezier(0.44, 0.09, 0.23, 1);
$transition-duration: 1.5s;
$transition-delay: 100ms;

@mixin button {
  transition: opacity 0.5s;
  font-size: 2rem;
  cursor: pointer;
  color: $gray-400;

  position: absolute;
  padding: 0;

  width: 60px;
  height: 100%;
  z-index: 2;

  border: 0;
  background: transparent;

  &:focus {
    outline: 0;
  }
  @include media-breakpoint-down(sm) {
    width: 40px;
    // display: none;
  }
}

$overflow: 70px;
$shadowHOffset: 30px;

.root {
  // background-color: white;
  .previousButton {
    @include button;
    left: 0;
  }
  .nextButton {
    @include button;
    right: 0;
  }

  // typography
  .sectionTitle {
    text-transform: none;
    color: $gray-600;
    font-size: 0.7em;
    font-weight: lighter;
  }
  .articleTitle {
    font-size: 2em;
    text-transform: none;
    margin-bottom: 0.1rem;
  }
  .field {
    color: $gray-600;
    display: block;
  }
  //styling
  article img {
    box-shadow: 0 5px $shadowHOffset -5px rgba(0, 0, 0, 0.8);
    margin-bottom: $shadowHOffset;
    position: relative;
    width: 100%;
    @include img-fluid();
  }

  // layout
  margin-bottom: -$overflow;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  article {
    display: none;
    &.currentArticle {
      display: block;
      z-index: 1;
    }
    .img {
      position: relative;
      transition: left $transition-duration $transition-function
        $transition-delay;
    }
    .text {
      position: relative;
      transition: right $transition-duration $transition-function 0s;
    }
    padding: 40px 40px 0;
  }

  &.live {
    transition: height 100ms $transition-function 0s;
    article {
      display: block;
      position: absolute;
    }
  }

  @include media-breakpoint-up(md) {
    $padding: 60px;
    padding: 0 $padding;
    article {
      padding: 60px 0 0 0;
      left: $padding;
      right: $padding;
      &.currentArticle {
        display: flex;
      }
      align-items: center;
      .img {
        flex: 1 1 auto;
      }
      .text {
        flex: 1 0 250px;
        margin-right: 20px;
        margin-bottom: $overflow;
      }
    }

    &.live {
      article {
        display: flex;
      }
    }
  }
}
