@import "../../styles/_variables.scss";

$blurColor: rgba(255, 255, 255, 0.95);

@mixin section {
  padding: 120px 60px;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding: 120px 20px 160px;
  }
}

.whatSection {
  @include section();
  background: url("./office.jpg");
  background-size: cover;
  background-position: center;
  article {
    position: relative;
    background-color: $blurColor;
    border-radius: 15px;
    box-shadow: 0 0 100px 100px $blurColor;
  }
}

.whySection {
  // @include section();
  padding: 180px 100px !important;
  background-color: $gray-200;
}
