@import "../../styles/_variables.scss";

.root {
  display: none;
  a {
    color: $gray-500;
    &:hover {
      color: $gray-600;
    }
  }
  :global {
    .navbar-brand {
      padding: 0;
    }
  }
}
