@import "../../styles/_variables.scss";

$hue-varience: 10deg;
.root {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .logo {
    flex: 0 0 auto;
    text-align: center;
    margin: 0 auto;
  }
  .subtitle {
    flex: 0;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0.75rem;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 6px;
  }

  // styling
  background: $orange;
  background: linear-gradient(
    125deg,
    adjust-hue($orange, $hue-varience) 0%,
    adjust-hue($orange, -$hue-varience) 100%
  );
  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
    height: 270px;
  }
  @include media-breakpoint-down(xs) {
    height: 250px;
    svg {
      height: 90px;
    }
    .subtitle {
      margin-top: 0.5rem;
      font-size: 0.7rem;
    }
  }
}
