@import "../../styles/_variables.scss";

$gradient-intensity: 8%;

.root {
  text-align: center;
  background-color: $orange;
  background: linear-gradient(
    to bottom,
    lighten($orange, $gradient-intensity) 0%,
    darken($orange, $gradient-intensity) 100%
  );
  height: 400px;

  text-align: center;
  svg {
    margin-top: 120px;
    width: 35%;
    display: inline-block;
    text-align: center;
  }
  h5 {
    color: rgba(255,255,255,.8);
    margin-top: 0.75rem;
    font-size: 1.25rem;
  }

  @include media-breakpoint-down(md){
    svg {width: 50%;}
  }
  @include media-breakpoint-down(sm){
    height: 270px;
    svg {
      margin-top: 40px;
      width: 60%;
    }
  }  
  @include media-breakpoint-down(xs){
    height: 250px;
    svg {
      margin-top: 30px;
      width: 80%;
    }
  }

}
