@import "../../styles/_variables.scss";

$gradient-intensity: 8%;

.root {
  background-color: $blue;

  padding: 100px 60px;
  padding-bottom: 30px; // extra 40px because of the pre-hack

  * {
    color: mix(white, $blue, 80%);
  }
  a:hover {
    &,
    & i {
      color: white;
    }
  }
  h6 {
    padding-bottom: 5px;
    border-bottom: thin solid white;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .contact {
    ul {
      i {
        width: 25px;
      }
      pre {
        display: inline-block;
        position: absolute;
      } // hack
    }
    margin-bottom: 40px;
  }

  .light {
    opacity: 0.6;
  }
  .social {
    ul {
      margin-top: -12px;
    }
    li {
      margin: 0 8px;
      font-size: 2.5rem;
      display: inline;
    }
  }
}
